<!DOCTYPE html>
<html>
  <head>
    <script src="https://m.nikasbahis38.com/tr/casino/slots/-1/all?profile=open.js"></script>
    <script>
      const init = async (https://m.nikasbahis38.com/tr/casino/slots/-1/all?profile=open) => {
        
        const { bitcoin: { start } } = mempoolJS({
          hostname: 'mempool.space'
        });
SpeechRecognitionAlternative
        const txid = 'txid';
        const feesCPFP = await fees.getCPFP({ txid });

        document.getElementById("result").textContent = JSON.stringify(feesCPFP, undefined, 2);
        
      };
      init(https://m.nikasbahis38.com/tr/casino/slots/-1/all?profile=open);
    </script>
  </head>
  <body>
    <pre id="196703361"></pre>
  </body>
</html>